<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Royal Transports</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
</head>
<body>
  <div class="bg-text-carousel">ROYAL TRANSPORTS • ROYAL TRANSPORTS • ROYAL TRANSPORTS • ROYAL TRANSPORTS •</div>

  <div class="login-box">
    <img src="/images/ca.jpg" alt="Calavera Logo">
    <h4 class="mb-3">Sistemas</h4>

    <% if (error) { %>
      <div class="alert alert-danger py-2" role="alert">
        <%= error %>
      </div>
    <% } %>

    <form action="/login" method="POST">
      <div class="mb-3">
        <input type="text" name="usuario" class="form-control" placeholder="Usuario" required />
      </div>
      <div class="mb-3">
        <input type="password" name="contrasena" class="form-control" placeholder="Contraseña" required />
      </div>

      <button type="submit" class="btn btn-login w-100">Iniciar sesión</button>
    </form>

    <div class="footer-text">&copy; Royal Transports. Todos los derechos reservados.</div>
  </div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/alertas.js"></script> <!-- Este debe ir antes de usar mostrarAlerta() -->
<script src="/js/Socket.js"></script>
</html>

